[Desktop Entry]
Version=1.0
Name=ArtikelTrainer
Exec=java -jar /home/kilian/Computer_Science/Java/de/Main.jar
Icon=/home/kilian/Pictures/deutschlandicon.svg
Type=Application
Terminal=false
Comment=
Path=/home/kilian/Computer_Science/Java/de/
StartupNotify=false
